<%- include('component/header') %>

  <form class="form-signup" method="POST", action="/unsubscribe">
    <img class="mb-4" src="/images/anki_logo.png" alt="" width="72" height="72">

    <h1 class="h3 mb-3 font-weight-normal">Fill the information to sign up.</h1>
    <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" >Unsubscribe</button>
    
  </form>

  

  <%- include('component/footer') %>