<div id="send-email" class="container">
    <form action="/send_email" method="POST">
        <input type="text" class="form-control" name="subject" placeholder="Subject"> <br>
        <textarea name="message" class="form-control" id="" cols="30" rows="4" placeholder="Email Body"></textarea> <br>
        <textarea name="html" class="form-control" id="" cols="30" rows="4" placeholder=" Paste Html Code Here"></textarea> <br>
        <div class="form-row">
            <input id="submit-email" type="submit" class=" col-3 btn btn-primary mb-4" value="Send">
            <input type="reset" class=" col-3 btn btn-danger mb-4" value="Reset">
        </div>

    </form>
</div>